{{#each questions as |question|}}
  <div class="card" data-id="{{question._id}}">
    <div class="card-body">
       <h5 class="card-title">{{question.question}}</h5>
       <form class="answerquestion" data-id="{{question._id}}">

         <textarea class="paragraph" data-question="{{question.question}}" name="answer" cols="80" rows="4"/>
         <br/>

         <button type="click" class="question-response btn-primary" data-id="{{question._id}}" data-question="{{question.question}}">Submit</button>
       </form>
    </div>
  </div>
  {{/each}}
